@media (min-width: @desktop-width) {
  .body--index::before {
    content: "";
    position: absolute;
    width: 1280px;
    height: 2678px;
    margin-left: 35px;
    background-color: #f2f2f2;
    z-index: -1;
  }

  .body--photo::before {
    content: "";
    position: absolute;
    width: 1280px;
    height: 2256px;
    margin-left: 35px;
    background-color: #f2f2f2;
    z-index: -1;
  }

  .body--form::before {
    content: "";
    position: absolute;
    width: 1280px;
    height: 1950px;
    margin-left: 35px;
    background-color: #f2f2f2;
    z-index: -1;
  }
}
