.impressions {
  margin: 0;
  padding: 0;
  border: none;
  margin-top: 16px;
}

.impressions__title {
  color: #000000;
  padding: 21px 0 26px 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0 auto;
}

.impressions__item {
  margin: 0;
  margin-bottom: 13px;
  color: #283136;
  font-size: 15px;
  font-weight: 700;
  line-height: 34px;
  padding-top: 9px;
  padding-bottom: 11px;
}

.impressions__item label {
  position: relative;
  display: inline-block;
  padding-top: 1px;
  padding-left: 79px;
  font-size: 18px;
  cursor: pointer;
}

.impressions__item label::before {
  position: absolute;
  width: 55px;
  height: 55px;
  left: 0;
  top: -8px;
  content: "";
  background-color: #f2f2f2;
  border-radius: 50%;
}

.impressions__item input[type="radio"]:checked + label::after {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 18px;
  top: 9px;
  content: "";
  background-color: #000000;
  border-radius: 50%;
}

.impressions__item input[type="radio"]:hover + label::before,
.impressions__item input[type="radio"]:focus + label::before {
  background-color: #e5e5e5;
}

.impressions__item input[type="radio"]:active + label::before {
  background-color: #d5d5d5;
}

.impressions__item input[type="radio"]:active + label::after {
  opacity: 0.3;
}

.impressions__item input[type="radio"] {
  opacity: 0;
  height: 0;
  width: 0;
  margin: 0;
  position: absolute;
}

@media (min-width: @tablet-width) {
  .impressions {
    margin-top: 0;
    width: 324px;
    order: -1;
  }

  .impressions legend::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 292px;
    background-color: #f2f2f2;
    top: 0;
    right: 0;
  }

  .impressions__item {
    padding-top: 0;
    margin-bottom: 25px;
    font-size: 18px;
  }

  .impressions__item label {
    padding-top: 8px;
    padding-left: 76px;
  }

  .impressions__item label::before {
    top: -2px;
  }

  .impressions__item input[type="radio"]:checked + label::after {
    top: 16px;
  }

  .impressions__title {
    margin-bottom: 37px;
    margin-left: 0;
    padding-top: 0;
    text-align: unset;
    font-size: 21px;
  }
}

@media (min-width: @desktop-width) {
  .impressions {
    width: 477px;
    left: 4px;
  }

  .impressions__title {
    margin-left: 76px;
  }
}
