.list-city {
  padding: 41px 41px 41px 0;
  list-style: none;
}

.list-city__item {
  padding-left: 70px;
  position: relative;
}

.list-city__item:not(:last-child) {
  margin-bottom: 39px;
}

.list-city__title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 18px;
}

.list-city__text {
  margin: 0;
  font-size: 16px;
}

.list-city li:nth-child(1)::before {
  content: "";
  background-image: url("../../img/icon-house1.png");
  position: absolute;
  left: 21px;
  top: -12px;
  width: 39px;
  height: 37px;
}

.list-city li:nth-child(2)::before {
  content: "";
  background-image: url("../../img/icon-gift1.png");
  position: absolute;
  left: 25px;
  top: -12px;
  width: 32px;
  height: 38px;
}

.list-city li:nth-child(3)::before {
  content: "";
  background-image: url("../../img/icon-burger1.png");
  position: absolute;
  left: 18px;
  top: -10px;
  width: 40px;
  height: 35px;
}

@media (min-width: @tablet-width) {
  .list-city {
    min-width: 768px;
    display: flex;
    justify-content: space-between;
    padding: 160px 46px 65px 51px;
  }

  .list-city__item {
    padding-left: 0;
    position: relative;
    display: block;
    width: 139px;
    font-size: 14px;
  }

  .list-city__item:nth-child(2) {
    order: 3;
  }

  .list-city__title {
    text-align: center;
    margin: 0;
    margin-bottom: 15px;
    font-size: 21px;
  }

  .list-city__text {
    text-align: center;
    margin: 0;
    font-size: 14px;
  }

  .list-city li:nth-child(1)::before {
    content: "";
    background-image: url("../../img/icon-house.svg");
    position: absolute;
    left: 33px;
    top: -100px;
    width: 75px;
    height: 72px;
  }

  .list-city li:nth-child(2)::before {
    content: "";
    background-image: url("../../img/icon-gift.svg");
    position: absolute;
    left: 39px;
    top: -100px;
    width: 64px;
    height: 75px;
  }

  .list-city li:nth-child(3)::before {
    content: "";
    background-image: url("../../img/icon-burger.svg");
    position: absolute;
    left: 30px;
    top: -100px;
    width: 77px;
    height: 69px;
  }

  .list-city__item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .list-city {
    min-width: 1200px;
    padding: 164px 93px 86px 73px;
  }

  .list-city__item {
    width: 215px;
  }

  .list-city__item:nth-child(3) {
    width: 250px;
  }

  .list-city li:nth-child(1)::before {
    left: 70px;
  }

  .list-city li:nth-child(2)::before {
    left: 76px;
  }

  .list-city li:nth-child(3)::before {
    left: 86px;
  }
}
