.main-content {
  margin: 0;
}

.main-content__list {
  .list-reset();
  list-style: none;
  position: relative;
}

.main-content__city {
  margin: 0 auto;
  padding: 0;
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: @bg-lightblue;
}

.main-content__bg-image {
  background-image: url("../../img/bg-triangle.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 320px;
  height: 37px;
  top: -20px;
}

.main-content__title {
  margin: 0;
  margin-bottom: 12px;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  color: #ffffff;
}

.main-content__text {
  margin: 0 auto;
  margin-bottom: 14px;
  font-size: 14px;
  text-align: center;
  width: 255px;
  text-transform: uppercase;
  color: #ffffff;
}

.main-content__text-mod {
  margin: 0 auto;
  font-size: 14px;
  margin-bottom: 12px;
  text-align: center;
  width: 262px;
  text-transform: uppercase;
  color: #ffffff;
}

.main-content__bridge {
  margin: 0 auto;
  padding: 0;
  padding-top: 42px;
  padding-bottom: 27px;
  background-color: #81b3d2;
}

.main-content__img-bridge {
  position: relative;
  height: 345px;
  top: -84px;
  z-index: -1;
}

.main-content__list .main-content__item:nth-child(3) {
  margin-top: -92px;
}

.main-content__reason {
  margin-top: -6px;
  padding-top: 31px;
  padding-bottom: 17px;
  background-color: #eeeeee;
  position: relative;
}

.main-content__reason .main-content__title {
  color: #000000;
}

.main-content__reason .main-content__text {
  color: #000000;
}

.main-content__reason.line::after {
  content: "";
  width: 280px;
  height: 1px;
  background-color: #d6d6d6;
  position: absolute;
  left: 20px;
  bottom: 1px;
  z-index: 1;
}

@media (min-width: @tablet-width) {
  .main-content__list {
    display: flex;
    flex-wrap: wrap;
  }

  .main-content__item {
    display: flex;
    flex-wrap: wrap;
  }

  .main-content__city {
    margin: 0;
    padding: 47px;
    background-color: @bg-lightblue;
    min-width: 256px;
    height: 256px;
    overflow: hidden;
    color: #ffffff;
  }

  .main-content__bg-image {
    display: none;
  }

  .main-content__title {
    width: 150px;
    margin: 0 auto;
    margin-bottom: 7px;
    font-size: 21px;
    line-height: 26px;
  }

  .main-content__text {
    width: 162px;
    font-size: 14px;
    margin-bottom: 22px;
  }

  .main-content__text-mod {
    margin: 0 auto;
    max-width: 162px;
    font-size: 14px;
  }

  .main-content__img-city {
    content: url("../../img/main-city-desktop@1x.jpg");
    width: 512px;
  }

  .main-content__bridge {
    margin: 0;
    min-width: 256px;
    height: 256px;
    overflow: hidden;
    padding: 47px;
    padding-top: 46px;
    padding-bottom: 52px;
    color: #ffffff;
    order: 2;
  }

  .main-content__img {
    min-width: 512px;
    height: 256px;
  }

  .main-content__img-bridge {
    content: url("../../img/main-bridge-tablet@1x.jpg");
    width: 512px;
    height: 256px;
    position: unset;
  }

  .main-content__reason {
    margin-top: 0;
    padding-top: 45px;
    padding-bottom: 21px;
    width: 256px;
  }

  .main-content__reason .main-content__title {
    margin-bottom: 9px;
  }

  .main-content__item:nth-child(4) .main-content__text {
    max-width: 145px;
  }

  .main-content__list .main-content__item:nth-child(3) {
    margin-top: 0;
  }

  .main-content__reason.line::after {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .main-content__city {
    min-width: 400px;
    padding-top: 52px;
  }

  .main-content__title {
    margin-bottom: 9px;
  }

  .main-content__img {
    min-width: 800px;
    height: 256px;
    overflow: hidden;
  }

  .main-content__img-city {
    content: url("../../img/main-city-desktop@1x.jpg");
    margin-top: -72px;
    width: 800px;
  }

  .main-content__bridge {
    min-width: 400px;
    padding-top: 52px;
  }

  .main-content__img-bridge {
    content: url("../../img/main-bridge-desktop@1x.jpg");
    width: 800px;
    height: 400px;
    margin-top: -77px;
  }

  .main-content__reason {
    margin-top: 0;
    padding-top: 45px;
    padding-bottom: 43px;
    width: 400px;
  }

  .main-content__reason .main-content__title {
    font-size: 21px;
    margin-bottom: 8px;
  }

  .main-content__text-mod:nth-child(n+3) {
    font-size: 14px;
    min-width: 230px;
  }

  .main-content__text-mod:nth-child(4) {
    max-width: 262px;
  }

  .main-content__reason .main-content__text {
    min-width: 285px;
  }

  .main-content__item:nth-child(4) .main-content__text {
    min-width: 275px;
  }
}
