.page-header {
  .container();
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 55px;
  min-width: 320px;
  position: relative;
}

.page-header__bottom {
  margin: 0;
  padding: 0;
  width: 320px;
  height: 55px;
  background-color: #ffffff;
}

@media (min-width: @tablet-width) {
  .page-header {
    .container-tab();
  }

  .page-header__bottom {
    display: none;
    background-color: #ffffff;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    .container-desk();
    z-index: 2;
    box-shadow: 0 -15px 15px rgba(0, 1, 1, 0.2);
  }
}
