.page-footer {
  .container();
  margin: 0 auto;
  padding-top: 31px;
  padding-bottom: 23px;
  padding-left: 84px;
  padding-right: 85px;

  &--photo {
    padding-top: 30px;
  }
}

.page-footer__hashtag {
  margin: 0 auto;
  margin-bottom: 37px;
  max-width: 140px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.page-footer__copyright {
  display: flex;
  max-width: 130px;
  justify-content: space-between;
  margin: 0 auto;
}

.page-footer__text {
  margin: 0;
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
}

.page-footer__copyright a {
  height: 35px;
  margin-top: -3px;

  &:hover,
  &:focus {
    fill: #81b3d2;
  }

  &:active {
    fill: #000000;
    opacity: 0.3;
  }

  .page-footer__academy {
    width: 27px;
    height: 34px;
  }
}

@media (min-width: @tablet-width) {
  .page-footer {
    .container-tab();
    display: flex;
    justify-content: space-between;
    padding: 10px 60px 40px 60px;
  }

  .page-footer__hashtag {
    margin: 0;
    line-height: 88px;
  }

  .page-footer__copyright {
    margin: 0;
    min-width: 129px;
  }

  .page-footer__text {
    line-height: 89px;
  }

  .page-footer__copyright a {
    margin-top: 28px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    .container-desk();
    display: flex;
    justify-content: space-between;
    padding: 17px 120px;
    background-color: #ffffff;
    box-shadow: 0 -13px 15px rgba(0, 1, 1, 0.2);

    &--form {
      .page-footer__copyright a {
        margin-top: 19px;
      }

      .page-footer__hashtag {
        line-height: 70px;
      }

      .page-footer__text {
        line-height: 70px;
      }
    }
  }

  .page-footer--photo {
    .container-desk();
    display: flex;
    justify-content: space-between;
    padding: 13px 120px;
    margin-bottom: 10px;
  }

  .page-footer__hashtag {
    line-height: 83px;
  }

  .page-footer__text {
    line-height: 85px;
  }

  .page-footer__copyright a {
    margin-top: 24px;
  }
}
