.photos {
  .list-reset();
  margin-top: -285px;
}

.photos__list {
  .list-reset();
  list-style: none;
}

.photos__item {
  padding: 22px 20px;
  padding-bottom: 18px;
  border-top: 1px solid #e5e5e5;
}

.photos__img {
  margin-bottom: 10px;
}

.photos__title {
  margin: 12px 0 2px 0;
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
}

.photos__text {
  margin: 0;
  margin-bottom: 5px;
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.photos__likes {
  display: flex;
  position: relative;
}

.photos__button {
  padding-left: 0;
  padding-right: 14px;
  border: none;
  background: none;
  cursor: pointer;
  opacity: 0.2;
}

.photos__result {
  margin: 0;
  margin-top: 6px;
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
}

@media (min-width: @tablet-width) {
  .photos {
    margin-top: -228px;
  }

  .photos__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 60px;
  }

  .photos__item {
    padding: 0;
    padding-bottom: 12px;
    border-top: none;
    background-color: #e5e5e5;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
  }

  .photos__main {
    min-width: 648px;
    min-height: 267px;
  }

  .photos__img-sunset {
    content: url("../../img/photo-sunset-tablet@1x.jpg");
    width: 648px;
    height: 400px;
  }

  .photos__others {
    min-width: 324px;
    min-height: 267px;
  }

  .photos__img-cactus {
    content: url("../../img/photo-cactus-tablet@1x.jpg");
    width: 324px;
    height: 267px;
  }

  .photos__img-roads {
    content: url("../../img/photo-roads-tablet@1x.jpg");
    width: 324px;
    height: 267px;
  }

  .photos__img-bridge {
    content: url("../../img/photo-bridge-tablet@1x.jpg");
    width: 324px;
    height: 267px;
  }

  .photos__title {
    margin-top: 11px;
    margin-left: 20px;
  }

  .photos__text {
    margin-left: 20px;
    margin-top: 0;
  }

  .photos__likes {
    position: absolute;
    bottom: 27px;
    right: 20px;
  }

  .photos__button {
    padding-right: 7px;
  }
}

@media (min-width: @desktop-width) {
  .photos__list {
    padding: 0;
  }

  .photos__item {
    padding: 0;
  }

  .photos__main {
    min-width: 1200px;
    min-height: 400px;
  }

  .photos__img-sunset {
    content: url("../../img/photo-sunset-desktop@1x.jpg");
    width: 1200px;
    height: 400px;
  }

  .photos__others {
    min-width: 400px;
    min-height: 267px;
  }

  .photos__img-cactus {
    content: url("../../img/photo-cactus-desktop@1x.jpg");
    width: 400px;
    height: 267px;
  }

  .photos__img-roads {
    content: url("../../img/photo-roads-desktop@1x.jpg");
    width: 400px;
    height: 267px;
  }

  .photos__img-bridge {
    content: url("../../img/photo-bridge-desktop@1x.jpg");
    width: 400px;
    height: 267px;
  }

  .photos__title {
    position: absolute;
    margin-left: 21px;
    bottom: 40px;
    color: #ffffff;
  }

  .photos__text {
    position: absolute;
    bottom: 14px;
    color: #ffffff;
  }

  .photos__likes {
    bottom: 30px;
    left: 21px;
  }

  .photos__button {
    opacity: 1;
  }

  .photos__result {
    color: #ffffff;
  }

  .photos__item a {
    height: 267px;
  }
}
