.preface {
  padding-top: 50px;
  height: 221px;
}
.preface__title {
  width: 255px;
  margin: 0 auto;
  margin-bottom: 40px;
  font-size: 18px;
  text-align: center;
  white-space: pre-line;
}
.preface__text {
  width: 255px;
  margin: 0 auto;
  text-align: center;
  white-space: pre-line;
  font-size: 15px;
}
