.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-list__item {
  height: 56px;
}

.site-list__text {
  width: 320px;
  height: 55px;
  display: flex;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: @bg-lightblue;

  &:hover {
    background-color: @bg-middleblue;
  }

  &:active {
    background-color: @bg-darkblue;
    color: rgba(#ffffff, 0.2);
  }
}

.link-text {
  margin: auto;
}

@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
  }

  .site-list__item {
    max-width: 153px;
    height: 56px;
    background-color: #ffffff;
  }

  .site-list__item:nth-child(3) {
    padding-left: 158px;
    max-width: 309px;
  }

  .site-list__text {
    width: 153px;
    height: 55px;
    display: flex;
    box-shadow: none;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
    color: #000000;
    background-color: #ffffff;

    &:hover {
      color: #81b3d2;
      background-color: #ffffff;
    }

    &:active {
      color: #c7c7c7;
    }
  }

  .site-list__text.active {
    color: #766357;

    &:hover {
      color: #604e43;
    }

    &:active {
      color: #e2dedc;
    }
  }
}

@media (min-width: @desktop-width) {
  .site-list__item {
    min-width: 239px;
  }

  .site-list__item:nth-child(3) {
    padding-left: 244px;
    min-width: 483px;
  }

  .site-list__text {
    width: 239px;
  }
}
