.social-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  max-width: 150px;
  margin-bottom: 33px;
}

.social-list__item a {
  display: flex;
  position: relative;
  margin-bottom: 8px;
  width: 46px;
  height: 48px;
  background-color: @bg-lightblue;
  cursor: pointer;
}

.social-list__item a:hover,
.social-list__item a:focus {
  background-color: @bg-middleblue;
}

.social-list__item a:active {
  background-color: @bg-darkblue;
}

.social-list__item--tw a::before {
  content: url("../img/icon-twitter.svg");
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  height: 18px;
  width: 14px;
  fill: #000000;
  z-index: 1;
}

.social-list__item--tw a:active::before {
  content: url("../img/icon-twitter1.svg");
}

.social-list__item--fb a::before {
  content: url("../img/icon-facebook.svg");
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  height: 19px;
  width: 9px;
  z-index: 1;
}

.social-list__item--fb a:active::before {
  content: url("../img/icon-facebook1.svg");
}

.social-list__item--yt a::before {
  content: url("../img/icon-youtube.svg");
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  height: 14px;
  width: 20px;
  z-index: 1;
}

.social-list__item--yt a:active::before {
  content: url("../img/icon-youtube1.svg");
}

@media (min-width: @tablet-width) {
  .social-list {
    max-width: 310px;
    margin: 0;
    position: relative;
    left: -4px;
    margin-top: 12px;
  }

  .social-list li:not(:last-child) {
    margin-right: 6px;
  }
}

@media (min-width: @desktop-width) {
  .social-list {
    margin-top: 12px;

    &--index {
      margin-top: 16px;
    }

    &--photo {
      margin-top: 18px;
    }
  }
}
