.user-data {
  .list-reset();
  border: none;
  padding: 0;
  padding-bottom: 25px;
}

.user-data__title {
  color: #000000;
  padding: 25px 0;
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
}

.user-data__name {
  .list-reset();
  margin-bottom: 20px;
}

.user-data__name label {
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  opacity: 0.5;
}

.user-data__name input {
  margin-left: 5px;
  padding-left: 20px;
  width: 230px;
  height: 58px;
  border: none;
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  background-color: #f2f2f2;
  cursor: pointer;
}

.user-data__family {
  .list-reset();
  margin-bottom: 20px;
}

.user-data__family label {
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  opacity: 0.5;
}

.user-data__family input {
  margin-left: 5px;
  padding-left: 20px;
  width: 193px;
  height: 58px;
  border: none;
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  background-color: #f2f2f2;
  cursor: pointer;
}

.user-data__middle-name {
  .list-reset();
}

.user-data__middle-name label {
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  opacity: 0.5;
}

.user-data__middle-name input {
  margin-left: 5px;
  padding-left: 20px;
  width: 197px;
  height: 58px;
  border: none;
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  background-color: #f2f2f2;
  cursor: pointer;
}
