.user-form {
  margin: 0;
  padding: 0;
  margin-top: -285px;
  padding-bottom: 22px;
}

@media (min-width: @tablet-width) {
  .user-form {
    margin-top: -228px;
  }
}

@media (min-width: @desktop-width) {
  .user-form {
    width: 1200px;
    padding-bottom: 54px;
    background-color: #ffffff;
  }
}
