.user-contacts {
  .list-reset();
  border: none;
  padding: 0;
  margin-bottom: 25px;
}

.user-contacts__title {
  color: #000000;
  padding: 21px 0 22px 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
}

.user-contacts__phone {
  .list-reset();
  margin-bottom: 10px;
}

.user-contacts__phone label {
  display: block;
  margin: 0 0 10px 22px;
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  opacity: 0.5;
}

.user-contacts__phone input {
  position: relative;
  width: 280px;
  height: 58px;
  padding-left: 22px;
  border: none;
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  background-color: #f2f2f2;
  cursor: pointer;

  &:hover {
    background-color: #e5e5e5;
  }

  &:active {
    border: 4px solid #e5e5e5;
    background-color: #ffffff;
  }
}

.user-contacts__phone::before {
  content: "";
  background-image: url("../../img/icon-phone.svg");
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  position: absolute;
  top: 100px;
  right: 0;
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  z-index: 1;
}

.user-contacts__mail {
  .list-reset();
}

.user-contacts__mail label {
  display: block;
  margin: 0 0 10px 22px;
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  opacity: 0.5;
}

.user-contacts__mail input {
  width: 280px;
  height: 58px;
  padding-left: 22px;
  border: none;
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  background-color: #f2f2f2;
  cursor: pointer;

  &:hover {
    background-color: #e5e5e5;
  }

  &:active {
    border: 4px solid #e5e5e5;
    background-color: #ffffff;
  }
}

.user-contacts__mail::before {
  content: "";
  background-image: url("../../img/icon-mail.svg");
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  position: absolute;
  top: 203px;
  right: 0;
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  z-index: 1;
}

@media (min-width: @tablet-width) {
  .user-contacts {
    width: 100%;
    margin-bottom: 2px;
    padding-bottom: 0;
  }

  .user-contacts__title {
    width: 400px;
    margin-bottom: 4px;
    padding: 22px 0;
    font-size: 21px;
    position: relative;
    background-color: #ffffff;
  }

  .user-contacts legend::before {
    position: absolute;
    content: "";
    width: 648px;
    height: 1px;
    background-color: #f2f2f2;
    top: 33px;
    left: -125px;
    z-index: -1;
  }

  .user-contacts__phone {
    margin-bottom: 20px;
  }

  .user-contacts__phone sup {
    position: relative;
    top: 3px;
  }

  .user-contacts__phone::before {
    top: 105px;
  }

  .user-contacts__phone label {
    font-weight: 400;
    opacity: 1;
  }

  .user-contacts__phone input {
    width: 100%;
  }

  .user-contacts__mail::before {
    top: 219px;
  }

  .user-contacts__mail label {
    font-weight: 400;
    opacity: 1;
  }

  .user-contacts__mail input {
    width: 100%;
  }

  .user-contacts__mail sup {
    position: relative;
    top: 3px;
  }
}

@media (min-width: @desktop-width) {
  .user-contacts legend::before {
    left: -280px;
    width: 960px;
  }

  .user-contacts__no {
    display: none;
  }

  .user-contacts__wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 51px;
    padding-bottom: 8px;
  }

  .user-contacts__phone {
    display: flex;
    width: 395px;
    justify-content: space-between;
  }

  .user-contacts__phone label {
    margin: 0;
    line-height: 51px;
  }

  .user-contacts__phone input {
    width: 315px;
    left: 5px;
  }

  .user-contacts__phone::before {
    top: 120px;
    right: 560px;
  }

  .user-contacts__mail {
    display: flex;
    width: 480px;
    justify-content: space-between;
  }

  .user-contacts__mail label {
    margin: 0;
    line-height: 51px;
  }

  .user-contacts__mail input {
    width: 316px;
  }

  .user-contacts__mail::before {
    top: 120px;
  }
}
