.user-data {
  margin: 0;
  margin-top: 21px;
  border: none;
  padding: 0;
  // bottom: 4px;
  // padding-bottom: 11px;
}

.user-data__title {
  color: #000000;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 3px;
}

.user-data__form {
  margin: 0;
  padding: 0;

  &--name {
    margin-top: 24px;
  }

  &--name label {
    color: #333333;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    opacity: 0.5;
  }

  &--name input {
    margin-left: 9px;
    padding-left: 23px;
    width: 230px;
    height: 58px;
    border: none;
    font-family: "PT Sans", "Arial", sans-serif;
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    background-color: #f2f2f2;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: #e5e5e5;
    }

    &:active {
      border: 4px solid #e5e5e5;
      background-color: #ffffff;
      padding-left: 16px;
    }
  }

  &--family {
    margin-top: 17px;
  }

  &--family label {
    color: #333333;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    opacity: 0.5;
  }

  &--family input {
    margin-left: 9px;
    padding-left: 23px;
    padding-top: 7px;
    width: 193px;
    height: 58px;
    border: none;
    font-family: "PT Sans", "Arial", sans-serif;
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    background-color: #f2f2f2;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: #e5e5e5;
    }

    &:active {
      border: 4px solid #e5e5e5;
      background-color: #ffffff;
      padding-left: 17px;
    }
  }

  &--middle-name {
    margin-top: 22px;
  }

  &--middle-name label {
    color: #333333;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    opacity: 0.5;
  }

  &--middle-name input {
    margin-left: 11px;
    padding-left: 23px;
    padding-top: 5px;
    width: 195px;
    height: 58px;
    border: none;
    font-family: "PT Sans", "Arial", sans-serif;
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    background-color: #f2f2f2;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: #e5e5e5;
    }

    &:active {
      border: 4px solid #e5e5e5;
      background-color: #ffffff;
      padding-left: 17px;
    }
  }
}

@media (min-width: @tablet-width) {
  .user-data {
    width: 324px;
    padding-left: 58px;
    margin: 0;
  }

  .user-data__title {
    padding-top: 0;
    margin-left: 0;
    margin-bottom: 35px;
    text-align: unset;
    font-size: 21px;
  }

  .user-data__form {
    &--name {
      margin-bottom: 18px;
    }

    &--name label {
      font-weight: 400;
      opacity: 1;
    }

    &--name sup {
      top: 4px;
      position: relative;
    }

    &--name input {
      margin-left: 11px;
      padding-left: 21px;
      width: 215px;
      font-family: "PT Sans", "Arial", sans-serif;
      font-size: 18px;
    }

    &--family {
      margin-bottom: 20px;
    }

    &--family label {
      font-weight: 400;
      opacity: 1;
    }

    &--family sup {
      top: 4px;
      position: relative;
    }

    &--family input {
      width: 177px;
      height: 57px;
      margin-left: 12px;
      padding-left: 21px;
      font-family: "PT Sans", "Arial", sans-serif;
      font-size: 18px;
    }

    &--middle-name label {
      font-weight: 400;
      opacity: 1;
    }

    &--middle-name input {
      margin-left: 15px;
      padding-left: 20px;
      width: 178px;
      font-family: "PT Sans", "Arial", sans-serif;
      font-size: 18px;
    }
  }
}

@media (min-width: @desktop-width) {
  .user-data {
    width: 480px;
    padding-left: 82px;
  }

  .user-data__title {
    margin-bottom: 36px;
  }

  .user-data__form {
    &--name {
      margin-bottom: 21px;
    }

    &--name input {
      width: 347px;
    }

    &--family {
      margin-bottom: 18px;
    }

    &--family input {
      width: 309px;
      padding-top: 0;
    }

    &--middle-name input {
      margin-left: 14px;
      width: 310px;
    }
  }
}
