.videopleer {
  .list-reset();
  position: absolute;
  width: 280px;
  height: 111px;
  top: 348px;
  left: 20px;
}

.videopleer__top {
  position: relative;
  width: 280px;
  height: 45px;
  background-color: #000000;
  opacity: 0.6;
}

.videopleer__scale {
  position: absolute;
  width: 235px;
  height: 3px;
  background-color: #ffffff;
  opacity: 0.2;
  top: 22px;
  left: 22px;
}

.videopleer__marker {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #ffffff;
  top: 18px;
  left: 58px;
}

.videopleer__bottom {
  position: relative;
  width: 280px;
  height: 66px;
  background-color: #f2f2f2;
  z-index: -1;
}

.videopleer__replay {
  position: absolute;
  cursor: pointer;
  border: none;
  top: 66px;
  left: 19px;
  width: 25px;
  height: 25px;
  fill: #5c6870;

  &:hover {
    fill: #333333;
  }

  &:active {
    fill: #333333;
    opacity: 0.3;
  }
}

.videopleer__replay-icon {
  width: 16px;
  height: 20px;
}

.videopleer__subtitles {
  position: absolute;
  cursor: pointer;
  border: none;
  top: 64px;
  left: 168px;
  width: 43px;
  height: 30px;
  fill: #5c6870;

  &:hover {
    fill: #333333;
  }

  &:active {
    fill: #333333;
    opacity: 0.3;
  }
}

.videopleer__subtitles-icon {
  width: 32px;
  height: 20px;
}

.videopleer__fullscreen {
  position: absolute;
  cursor: pointer;
  border: none;
  top: 63px;
  left: 231px;
  width: 32px;
  height: 32px;
  fill: #5c6870;

  &:hover {
    fill: #333333;
  }

  &:active {
    fill: #333333;
    opacity: 0.3;
  }
}

.videopleer__fullscreen-icon {
  width: 20px;
  height: 20px;
}

@media (min-width: @tablet-width) {
  .videopleer {
    min-width: 648px;
    height: 93px;
    top: unset;
    left: 60px;
    bottom: 47px;
  }

  .videopleer__top {
    min-width: 648px;
    height: 93px;
  }

  .videopleer__scale {
    top: 45px;
    left: 93px;
    width: 389px;
  }

  .videopleer__marker {
    top: 42px;
    left: 205px;
  }

  .videopleer__bottom {
    position: unset;
    height: 0;
  }

  .videopleer__replay {
    fill: #ffffff;
    top: 34px;
    left: 30px;
    background: none;

    &:hover {
      fill: #ffffff;
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .videopleer__subtitles {
    fill: #ffffff;
    left: unset;
    top: 31px;
    right: 87px;
    background: none;

    &:hover {
      fill: #ffffff;
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .videopleer__fullscreen {
    fill: #ffffff;
    left: unset;
    top: 31px;
    right: 35px;
    background: none;

    &:hover {
      fill: #ffffff;
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: @desktop-width) {
  .videopleer {
    left: 200px;
    top: 654px;
    min-width: 800px;
  }

  .videopleer__top {
    min-width: 800px;
  }

  .videopleer__scale {
    width: 540px;
  }

  .videopleer__replay {
    left: 28px;
  }

  .videopleer__subtitles {
    left: 668px;
  }

  .videopleer__fullscreen {
    left: 731px;
  }
}
