.write-us {
  .list-reset();
  padding: 0 20px;
}

.write-us fieldset {
  position: relative;
}

.write-us fieldset::before {
  position: absolute;
  content: "";
  width: 320px;
  height: 1px;
  background-color: #f2f2f2;
  top: -6px;
  left: -20px;
}

.write-us fieldset:nth-child(2)::before {
  top: 2px;
}

.write-us fieldset:nth-child(3)::before {
  top: 3px;
}

.write-us fieldset:nth-child(4)::before {
  top: -10px;
}

.write-us fieldset:nth-child(5)::before {
  top: -16px;
}

@media (min-width: @tablet-width) {
  .write-us {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0 60px;
  }

  .write-us fieldset::before {
    display: none;
    position: absolute;
    content: "";
    width: 320px;
    height: 1px;
    background-color: #f2f2f2;
    top: 0;
    left: 0;
  }
}

@media (min-width: @desktop-width) {
  .write-us {
    padding: 0 120px;
  }
}
